body {
	padding-bottom:30px;
}
#crunching {
	position:fixed;
	top:7px;
	right:10px;
	font-size:14px;
	font-weight:bold;
	color:#555;
}
#container {
  width: 1008px;
  margin: 0 auto;
  padding-top:15px;
}
h1 {
  text-align: center;
}
input {
	font-size:24px;
	text-transform:uppercase;
}
#board table {
	border-collapse:separate;
	border-spacing:2px;
}
#board td {
	width:30px;
	height:30px;
	border:1px solid #bbb;
	font-size:20px;
	font-weight:bold;
	color:#333;
	line-height:30px;
	text-align:center;
}