html, body {
    background-color:#eee;
    font-family:'Helvetica','Arial','Verdana',sans-serif;
    margin:0;
    padding:0;
}

.header {
    background-color:#369;
    padding:10px 0;
}
.header > h1 {
    color:#fff;
    font-size:24px;
    font-weight:400;
    margin:0;
    text-align:center;
}

.letterbox {
    background-color:red;
}
.letterbox > input {
    border:0;
    font-size:20px;
    height:40px;
    letter-spacing:2px;
    line-height:40px;
    text-align:center;
    text-transform:uppercase;
    width:100%;
}
.letterbox > input:focus {
    outline:0;
}

.controls {
    background-color:#eee;
    display:flex;
}
.controls > div {
    flex:auto;
    padding:10px;
}
.controls > div > div {
    background-color:#69c;
    border-radius:3px;
    color:#fff;
    cursor:pointer;
    font-size:14px;
    padding:10px 0;
    text-align:center;
}
.controls > div > div:hover {
    background-color:#58b;
}

.boardbox {
    align-items:center;
    background-color:#fff;
    display:flex;
    justify-content:center;
    min-height:calc(100vh - 230px);
    padding:10px 0;
}
.boardbox > .board > .row > .cell {
    border-radius:3px;
    border:1px solid #000;
    display:inline-block;
    font-size:24px;
    font-weight:bold;
    height:40px;
    line-height:40px;
    margin:3px;
    text-align:center;
    text-transform:uppercase;
    vertical-align:text-top;
    width:40px;
}
.boardbox > .board > .row > .cell.empty {
    border-radius:0;
    border-color:#ddd;
}

.tray {
    color:#999;
    font-size:24px;
    letter-spacing:5px;
    padding:10px 0;
    text-align:center;
    text-transform:uppercase;
}
